.DS_Store
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.history/
.vscode/
venv/
.env
shap-env/
data/
ml_pipeline/artifacts/
reports/
*.pkl
*.db

artifacts/*
!artifacts/final_model/
!artifacts/final_model/lightgbm_final_model.joblib
!artifacts/final_model/selected_features.json
!artifacts/final_model/final_model_params.json