fastapi
uvicorn
pandas
numpy
joblib
shap
lightgbm
streamlit
plotly
requests
sqlalchemy
pydantic
matplotlib
scikit-learn
fastapi
uvicorn
pandas
numpy
joblib
shap
lightgbm
streamlit==1.48.0
plotly
requests
sqlalchemy
pydantic
matplotlib
scikit-learn
altair==4.2.2